.search__form {
    display: flex;
    column-gap: 20px;
}

.inspiration__wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.inspiration__image {
    margin: auto auto 0;
    width: 430px;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
}

.inspiration__button {
    margin-top: 20px;
}

.hotels {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
}

.hotels__image {
    border-radius: 30px;
    width: 400px;
    transition: transform 0.8s ease-out;
}

.hotels__image:hover {
    transform: scale(1.1);
}

.inspiration__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 450px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.8s ease-out;
}

.inspiration__item:hover {
    transform: scale(1.1);
}

.inspiration {
    padding: 20px 0;
}

.reviews__list {
    width: 1200px;
    list-style: none;
    /* flex-wrap: wrap; */
    gap: 40px;
    padding: 40px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.reviews__item {
    padding: 40px;
    min-width: 350px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.8s ease-out;
}

.reviews__item:hover {
    transform: scale(1.1);
}

.reviews__wrap {
    display: flex;
    align-items: center;
}

.reviews__right {
    transform: rotate(180deg);
    border: none;
    background-color: #fff;
}

.reviews__left {
    border: none;
    background-color: #fff;
}

.search {
    padding: 0 40px;
}

.map {
    padding: 0 40px;
}

.filters {
    padding: 0 40px;
}

.filters__button {
    margin: 18px auto;
}

.profile {
    padding: 0 40px;
}

.profile__title {
    margin: 18px auto;
}

.inspiration__title {
    padding: 0 40px;
}

.inspiration__wrapper {
    padding: 0 40px;
    flex-wrap: wrap;
}

.offers {
    padding: 0 40px;
}

.hotels {
    padding: 0 40px;
    margin: 22.41px 0;
    display: flex;
}

.reviews__title {
    padding: 0 40px;
}

.footer__text {
    padding: 0 40px;
}

.reviews__star {
    color: #fce30a;
}